<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Pickup Calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card status="Hold" createdAt="10/19/2023" updatedAt="10/20/2023"
    notes=" We have two full bags, one with plastic and other with glases"></app-pickup-call-card>
  <app-pickup-call-card status="Processing" createdAt="10/20/2023" updatedAt="10/29/2023"
    notes=" We have two full bags"> </app-pickup-call-card>
  <app-pickup-call-card status="Completed" createdAt="10/30/2023" updatedAt="10/30/2023"
  notes="Finished" earning="$ 10.00"></app-pickup-call-card>
</ion-content>