<ion-card>
  <ion-card-header>
    <ion-title>
      <ion-card-subtitle>
        Last Pickup Call
      </ion-card-subtitle>
    </ion-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item lines="none">
      <ion-icon name="hourglass-outline" slot="start" color="warning"></ion-icon>
      <ion-label>
        On hold
        <p>10/19/2023</p>
        <p>Notes: We have two full bags We have two full bags We have two full bags</p>
      </ion-label>
    </ion-item>
    <ion-button color="success" fill="clear" size="full">See all...</ion-button>
  </ion-card-content>
</ion-card>