<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button title=""></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm.getForm()">
  <ion-card>
    <ion-card-header>
      <ion-title> Contact </ion-title>
    </ion-card-header>
    <ion-item>
      <ion-input
        label="Name"
        labelPlacement="floating"
        type="name"
        placeholder="Name"
        formControlName="name"
      ></ion-input>
    </ion-item>
    <app-error-message [field]="$any(registerForm.getForm().get('name'))" message="* name is Mandatory"></app-error-message>


    <ion-item>
      <ion-input
        label="Phone Number"
        labelPlacement="floating"
        type="tel"
        placeholder="Phone Number"
        formControlName="phone"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Email"
        labelPlacement="floating"
        type="email"
        placeholder="Email"
        formControlName="email"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Password"
        labelPlacement="floating"
        type="password"
        placeholder="Password"
        formControlName="password"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Confirm Password"
        labelPlacement="floating"
        type="password"
        placeholder="Confirm Password"
        formControlName="repeatPassword"
      ></ion-input>
    </ion-item>
   
  </ion-card>
  <ion-card formGroupName="address">
    <ion-card-header>
      <ion-title> Address Information</ion-title>
    </ion-card-header>
    <ion-item>
      <ion-input
        label="Address"
        labelPlacement="floating"
        type="text"
        placeholder="Address"
        formControlName="street"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Number"
        labelPlacement="floating"
        type="tel"
        placeholder="Number"
        formControlName="number"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Zip Code"
        labelPlacement="floating"
        type="text"
        placeholder="Zip Code"
        formControlName="zipCode"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="State"
        labelPlacement="floating"
        type="text"
        placeholder="State"
        formControlName="state"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="City"
        labelPlacement="floating"
        type="tel"
        placeholder="City"
        formControlName="city"
      ></ion-input>
    </ion-item>
  </ion-card>
  <ion-button size="full" color="light" (click)="register()" >Register</ion-button>
</form>
</ion-content>
